/*******************************************************************************
Slate Theme for Github Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

#main_content a:hover {
  color: #0069ba;
  text-shadow: #0090ff 0px 0px 2px;
}

footer a:hover {
  color: #43adff;
  text-shadow: #0090ff 0px 0px 2px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul li {
  margin-left: 40px;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 5px solid #373737;
  margin-bottom: 20px;
  text-align: left;
  font-size: 12px;
  width: 100%;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 7px 5px;
  font-weight: bold;
  background: #616161;
  color: #fff;
  text-shadow: 1px 1px #3C3C3C;
  text-align: center;
  border: 1px solid #4D4D4D;
 }

td {
  padding: 7px 5px;
  background: #e7e7e7 !important;
  border: 1px solid #4D4D4D;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}


/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  width: 750px;
  padding: 20px 10px;
  margin: 0 auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: #212121;
  clear: both;
}


/*******************************************************************************
Code syntax
*******************************************************************************/

.pp {
	color: #780078;
}
.rd {
	color: #B93000;
}
.gr {
	color: #209020;
}
.or {
	color: #E36000;
}


ul.strike li {
	color : #B93000
}
button {
	background: #DF0000;
	color:#F7F7F7;
	border: 1px solid #A00000;
	border-radius: 5px;
}
button:hover {
	border-color: #D7D7D7;
	background: #fff;
	color:#900000;
}
button.excute {
	background: #DF0000;
	color:#F7F7F7;
	border-color:#A00000;
	padding:3px 8px;
}

div.exButton {
	position:absolute;
	right:10px;
	cursor: pointer;
	bottom:10px;
	border: 3px solid #9B0000;
	background: #fff;
	padding:5px;
	font:12px gulim;
	color:#900000;
	border-radius: 5px;	
	zoom:1;
	text-align: center;
	width: 80px;
}
div.exButton:hover {
	background:#f7f7f7;
}
div.exButton.load {
	background:#BF0000;
	color:#f7f7f7;
	border-color:#9B0000;
	text-shadow:1px 1px #570000;
}
div.exCode {
	position: relative;
	padding:5px 15px;
	background:#fff;
	border:5px solid #ddd; 
	font: 14px/18px 'courier new', monospace;
	zoom: 1;
}

div.exDemoResult {
	margin-top: 15px;
	padding:5px 15px;
	background:#3C3C3C;
	color: #F3F3F3;
	border:5px solid #282828; 
	height: 150px;
	overflow-y: scroll;
	text-shadow:1px 1px #282828;
}
div.exDemoResult img {
	border:0; padding:0;
}
#exDemoResult4 div {
	float  : left;
	width  : 195px;
	height : 400px;
	margin  : 5px 10px;
	padding : 5px;
	border: 3px solid #343434;
	text-align: center;
	background: #2C2C2C;
	font-size: 12px;
	overflow-y: auto;
	box-shadow: -1px -1px #454545, 0 0 5px #000;
}
#exDemoResult4 div.clear {
	display:none;
}
#exDemoResult4 div img {
	width: 172px;
	border:5px solid #181818;
	box-shadow:0 0 0 #000;
}
.clear {
	clear:both;
}
.fs {
	font-size:12px;
}
h3, h5 {
	color:#3C3C3C;
	text-shadow: 1px 1px #FFFFFF;
}